<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <div id="app">
    <child v-bind:grade= "level"> 
    asdd </child>

  </div>
  <template id = "test">
    <div> 
      <h1 v-if="grade == 1"> 
        <slot> </slot> 
      </h1>
      <h2 v-if="grade == 2"> 
        <slot> </slot> 
      </h2> 
      <h3 v-if = "grade ==3">  
        <slot> </slot>  
      </h3> 
    </div>
  </template>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  let child = {
    template: '#test' ,
    props: ['grade'] 
}  
let app = new Vue({
    el: '#app',
    components: { child},
    data: {
      level: 3
    }
  })
</script>

</body>
</html>